CursedCraft/XaeroWaypoints*
CursedCraft/crash-reports
CursedCraft/customnpcs
CursedCraft/mods
CursedCraft/saves
CursedCraft/screenshots
CursedCraft/logs
CursedCraft/xaero
CursedCraft/shaderpacks
CursedCraft/user*
CursedCraft/options*
CursedCraft/.mixin.out
CursedCraft/betweenlands_gallery
CursedCraft/tv-cache
